.center_items{
 display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

  /* 
    la url es la api de goble maps de donde se sacaron las img 
   background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=21.885256,-102.291568&zoom=13&size=400x400&scale=2&key=AIzaSyDs1J87ZksDmGGIJtUE1k25x8HycEt1sQE");*/

@media screen and (min-width: 320px) and (max-width: 480px){
  .map_background{
   background: url(../img/ags_360x640_retina.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
  }
  .mapa {
    text-align: center;
    width: 320px;
    height: 640px;
    padding: 0;
  }

}
@media screen and (min-width: 490px) and (max-width: 750px){
  .map_background{
    background: url(../img/ags_480x800_retina.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mapa {
    text-align: center;
    width: 480px;
    height: 800px;
    padding: 0;
  }

}
@media screen and (min-width: 760px){
  .map_background{
    background: url(../img/ags_768x1024_retina.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mapa {
    text-align: center;
    width: 768px;
    height: 1024px;
    padding: 0;
  }

}

.cuadrante{
	width: 49%;
	height: 49%;
	margin: 0;
  position:relative;
  color:rgb(246,246,246);
}
.circle{
  width:120px;
  height:120px;
  border-radius:50%;
  position: absolute;
    top:0;
    left:0;
   right:0;
   bottom:0;
  margin: auto;
  box-shadow: 0 5px 4px rgba(0,0,0,.3);
  font-size: 20px
}
.aling_block{
  position: relative;
  display: inline-block;
}

.no{
	background-color: rgba(250,210,001,0.4);

}
.no .circle {

  background-color:rgba(250,210,001,0.5);;
}

.ne{
	background-color: rgba(255,128,0,0.4);
	
}

.ne .circle {

  background-color: rgba(255,128,0,0.5);
}

.so{
	background-color: rgba(255,0,127,0.4);
	
}
.so .circle {

  background-color: rgba(255,0,127,0.5);
}

.se{
	background-color: rgba(0,0,255,0.4);
	
}
.se .circle {

 background-color: rgba(0,0,255,0.5);
}

/*LOGIN*/
.login {
  font-family: 'Open Sans';
  border: 1px solid #888;
  display:inline-block;
  background-color: #fafafa;
  margin-top: 40px;
  box-shadow: 1px 1px 10px #777;
}

.top {
  font-size: 25px;
  padding: 10px 20px;
  text-align: center;
}
.tiny{
  font-size: 11px;
}

.middle {
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 10px 5px;
  background-color: #eee;
}

.bottom {
  font-size: 11px;
  padding: 10px 20px;
}

.middle .input{
    font-size: 22px;
    height:40px;
    display: block;
}
.login-input {
  padding: 1px 2px;
  width: 250px;
  transition: outline .3s;
}
.login-button{
  margin: 15px;
  background-color: rgb(221, 75, 57);
  color: rgb(235, 235, 235);
  padding: 10px 6px;
  line-height:40px;
}
.login-button:hover{
  background-color:red;
  color: rgb(245,245,245);
}

.error {
  font-size: 13px;
  background-color: #FFC2BD;
  padding: 5px;
  display: none;
}

 

