.main_container{
  
}
.mapa {
	text-align: center;
	background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=21.885256,-102.291568&zoom=13&size=400x400&scale=2&key=AIzaSyDs1J87ZksDmGGIJtUE1k25x8HycEt1sQE");
	background-repeat: no-repeat;

	position: absolute;
	width: 800px;
	height: 800px;
	padding: 0;
}
.cuadrante{
	width: 397px;
	height: 397px;
	margin: 0;
}
.no{
	background-color: yellow;
	opacity: 0.4;
	top: 0;
	left:0;
}

.ne{
	background-color: orange;
	opacity: 0.4;
}

.so{
	background-color: pink;
	opacity: 0.4;
}

.se{
	background-color: blue;
	opacity: 0.4;
}
.aling_block{
  position: relative;
  display: inline-block;
  text-align: center;
}
.login {
  font-family: 'Open Sans';
  border: 1px solid #888;
  display:inline-block;
  background-color: #fafafa;
  margin-top: 40px;
  box-shadow: 1px 1px 10px #777;
}

.top {
  font-size: 25px;
  padding: 10px 20px;
  text-align: center;
}
.tiny{
  font-size: 11px;
}

.middle {
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 10px 5px;
  background-color: #eee;
}

.bottom {
  font-size: 11px;
  padding: 10px 20px;
}

.middle .input{
    font-size: 22px;
    height:40px;
    display: block;
}
.login-input {
  padding: 1px 2px;
  width: 250px;
  transition: outline .3s;
}
.login-button{
  margin: 15px;
  background-color: rgb(221, 75, 57);
  color: rgb(235, 235, 235);
  padding: 10px 6px;
  line-height:40px;
}
.login-button:hover{
  background-color:red;
  color: rgb(245,245,245);
}

.error {
  font-size: 13px;
  background-color: #FFC2BD;
  padding: 5px;
  display: none;
}

 

